


body{
    /*position: relative;*/
}

.login-container{
    /*background-color: red;*/
    position: absolute;
    top: 396px;
    left: 87px;
    z-index: 1;
}

.banner-image{
    /*position: absolute;*/
}